/* Wide Image */
.houseHelperWideImageContainer {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.houseHelperFullImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.houseHelperFullImage:hover {
  transform: scale(1.1);
}

/* Filter System */
.houseHelperFilterSystem {
  background-color: #fff3e6; /* Light orange background */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.houseHelperFilterSystem.showFilters {
  max-height: 200px; /* Adjust based on your content height */
  padding: 20px;
}

.houseHelperFilterSystem .formLabel {
  font-weight: bold;
  color: #ff7f50; /* Coral color for labels */
}

.houseHelperFilterSystem .formSelect,
.houseHelperFilterSystem .formControl {
  margin-bottom: 10px;
  border: 1px solid #ff7f50;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.houseHelperFilterSystem .formSelect:focus,
.houseHelperFilterSystem .formControl:focus {
  border-color: #ff4500; /* Darker orange on focus */
  outline: none;
}

/* House Helper Cards */
.houseHelperCard {
  border: 1px solid #ff7f50;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  background-color: #fffaf0; /* Light orange background for cards */
}

.houseHelperCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 127, 80, 0.3);
}

.houseHelperCardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ff4500; /* Darker orange for titles */
}

.houseHelperCardText {
  margin-bottom: 0.5rem;
  color: #333;
}

/* General Styling */
.houseHelperContainer {
  background-color: #fefeff; /* Light orange background for the page */
}

.houseHelperH2 {
  color: #ff7f50;
  margin-bottom: 20px;
}

/* Labour Cost Button */
.labourCostButton {
  background-color: #FF4500;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.labourCostButton:hover {
  background-color: #FF6347;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  background-color: #F5B6A0;
  color: white;
  border: 1px solid #FF4500;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

.page-item.active .page-link {
  background-color: #FF4500;
  border-color: #FF4500;
}

.page-link:hover {
  background-color: #FF6347;
  border-color: #FF6347;
}