

/* Adjust pagination dot position */
.swiper-pagination {
  position: absolute;
  bottom: -20px; /* Moves dots below the slider */
  left: 50%;
  transform: translateX(-50%);
}

/* Style pagination dots */
.swiper-pagination-bullet {
  background-color: #000966;
  opacity: 0.6;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #f97316; /* Orange active dot */
  opacity: 1;
}

